<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p>Estás buscando: <strong>{{query}}</strong></p>

    {% if clubs %}

        <p>Clubs encontrados: {{clubs|length}} clubs</p>

        <ul>

            {% for club in clubs %}
                <li>
                    {{club.nombre}} &nbsp; {{club.sede}}
                    
                </li>
            {% endfor %}

        </ul>
    {% else %}

        <p>No existe el club buscado</p>

    {% endif %}

</body>
</html>